@font-face {
    font-family:"Big Shoulders Display";
    src: url(./fonts/Big_Shoulders_Display/);
    font-weight: 700;
}

@font-face {
    font-family:"Lexend Deca";
    src: url(./fonts/Lexend_Deca/);
    font-weight: 400;
}